# ==========================================
# Database - PostgreSQL
# ==========================================
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/module4_db"

# ==========================================
# Redis Cache
# ==========================================
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=redis_secret

# ==========================================
# JWT - cho Người 1 (Auth module)
# ==========================================
JWT_SECRET=jwt_super_secret_key
JWT_EXPIRATION=7d

# ==========================================
# App
# ==========================================
PORT=3000
NODE_ENV=development
